.Tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}
.techn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.t {
  color: rgb(124, 205, 124);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.t h1 {
  padding: 30px;
  padding-bottom: 8px;
  border-bottom: 2px solid rgb(124, 205, 124);
}
.techn p {
  display: flex;
  justify-content: center;
  padding: 10px;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.tech-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  background-color: whitesmoke;
  border: 2px solid rgb(232, 230, 230);
  border-radius: 25px;
}
.ro {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 15px;
  justify-content: center;
  margin: 10px auto;
}
.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.row1 p {
  font-size: 20px;
  font-weight: 50px;
  margin-top: 15px;
}
.icon {
  font-size: 20px;
}
.tech-items:hover {
  cursor: pointer;
  background-color: #5acf6b;
  color: white;
  border: none;
  transition: 1s;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.tech-items:hover .row1 p {
  color: red;
}

@media (max-width: 786px) {
  .ro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: 5px auto;
  }
  .t h1 {
    padding: 10px;
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(124, 205, 124);
    font-size: large !important;
  }
  .techn p {
    display: flex;
    justify-content: center;
    padding: 6px;
  }
  .tech-items:hover {
    cursor: pointer;
    background-color: #138781;
    color: white;
    border: none;
    transition: 1s;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
